/* IT22586766
K. S. D. Koralage */
body{
    margin: auto;
    font-family: 'Wix Madefor Display', sans-serif;
    display: grid;
    grid-template-columns: 55% 45%;
    background-image: url(../images/without_driver.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#rOption{
    grid-area: 1/1/2/2;
}

nav {
    display: flex;
    justify-content: center;
}
  
nav a {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    padding: 20px;
    background-color: #1e5a5a;
    border-radius: 0 0 20px 20px;
    text-align: center;
}
  
nav a:hover {
    background-color: #d3bdb0;
    color: #000;
}
  
nav a:not(:last-child) {
    margin-right: 10px;
}

h1, form{
    margin: 30px;
}

form label, form input, select{
    font-size: 20px;
    border: none;
}

select, option{
    cursor: pointer;
}

#rateSubmit{
    padding: 8px;
    font-weight: 700;
    background-color: #d3bdb0;
    border: none;
    cursor: pointer;
}
#rButton{
    grid-area: 1/2/2/3;
    float: right;
    top: 0;
    margin-left: 10px;
    height: 100%;
}

#rButton button{
    font-size:16px;
    padding:7px;
    color: ivory;
    background-color: rgb(30, 90, 90);
    border-color:transparent;
}

#rButton button:hover, #rButton button:active{
    background-color: #d3bdb0;
    color: black
}
#wdIFRAME, #wodIFRAME{
    display:none;
    width:98%;
    height:100%;
    margin:5px;
    min-height: 480px;
    border: none;
}