/*IT22558114
Piyarathna R.S.*/

body {
    background-image: url(../images/backgroundnew.jpg);
    font-family: 'Nunito', sans-serif;
}

.signupForm{
    width: 45%;
    margin: 50px 30% ;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 0;
    display: table;
    position: relative;
    float:center;
	background-color: #c4e1f1;
	padding: 30px ;
	border-radius: 20px;
	box-shadow: 0px 0px 10px 2px grey;
	line-height: 100%;
	z-index: 8;
    margin-left: auto;
    margin-right: auto;
}

.signupForm .formControl {
    margin-bottom:0px;
}

h1{
    text-align: center;
    color: #008080;
    letter-spacing: 1px;
}

label.header {
    font-size: 16px;
    font-weight: 500;
    width: 215px;
    color: #008080;
    margin-right:10px;
    text-align:justify;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
}

span.acc {
    font-size: 16px;
    font-weight: 500;
    color: #008080;
    letter-spacing: 1px;
}

form input {
    padding:0 40px;
    width:40%;
    height:55px;
    border: 1px solid #008080;
    color: grey;
    text-align:justify;
    outline: none;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight:normal;
    font-family: 'Muli', sans-serif;
    border-radius:20px;
    margin-bottom: 20px;
}

form input:focus {
    border:1px solid #78bebe;
}

form input.error {
  border-color: #f91919;
  background: #f9f0f1;
}

form small {
  font-size: 14px;
  margin-top: 5px;
  display: block;
  color: #f91919;
}

.register {
    background-color: #008080;
    width: 50%;
    height: 55px;
    border: none;
    margin-left: 233px;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    outline: none;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    border-radius: 20px;
}   

.register:hover {
    background-color: #0b3131;
    color:#fff;
}
